[Unit]
Description=Discord Bot (user service)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/lace/bot-discord
ExecStart=/home/lace/bot-discord/Venv/bin/python /home/lace/bot-discord/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
